footer.checkout-footer.print-hidden(role="contentinfo")
  div.container.checkout-footer-container
    if !adyenPage
      div.checkout-fixed-row.clearfix
        div.checkout-footer-verisign.container
          div.checkout-footer-verify
            // Block content is taken from BCC and shouldn't be changed
            a(href="http://medicine-seller-register.mhra.gov.uk/search-registry/318", target="_blank")
              img(style="height:100%", src=footerSancoUrl,
              alt="Click to verify if this website is operating legally", title="Click to verify if this website is operating legally")
          div.checkout-footer-seal
            // Block content is taken from BCC and shouldn't be changed
            table(width="135", border="0", cellpadding="2", cellspacing="0", title="Click to Verify - This site chose Symantec SSL for secure e-commerce and confidential communications.")
              tbody
                tr
                  td#sealContainer(width="135", align="center", valign="top")
                    a(href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&amp;dn=www.hollandandbarrett.com&amp;lang=en", tabindex="-1", onmousedown="return mouseDown();",
                    target="VRSN_Splash")
                      img(name="seal", border="true", src=footerNortonLogoUrl, oncontextmenu="return false;")
    div.copyright-block.checkout-fluid-row.clearfix
      div.container
        p.copyright Copyright &copy; !{footerCopyrighText}
